---
variables:
  - group: Global
  - name: Build.Number.Major
    value: 10
  - name: Build.Number.Minor
    value: 1
  - name: Build.Number.Sub
    value: 1
  - name: BuildNumber
    value: $(Build.BuildNumber)

name: $(Build.Number.Major).$(Build.Number.Minor).$(Build.Number.Sub).$(Rev:r)

trigger:
- develop
- test
- main

pool: Docker

steps:
- task: CmdLine@2
  displayName: "Login"
  env:
    AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
    AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
    AWS_DEFAULT_REGION: eu-north-1
  inputs:
    script: |
      export PATH=$HOME/.local/bin:$PATH
      aws ecr get-login-password --region eu-north-1 | docker login --username AWS --password-stdin 687611153768.dkr.ecr.eu-north-1.amazonaws.com
- bash: |
    BUILD_ARGS=""
    case "$(Build.SourceBranchName)" in
      "test" | "develop")
        BUILD_ARGS="--build-arg BUILD_FUTURE_FLAG="--buildFuture""
        ;;
    esac
    docker build ${BUILD_ARGS} -t blog-v2 .
    echo "##vso[task.setvariable variable=imageRepoName]blog-v2:$(Build.BuildNumber)-$(Build.SourceBranchName)"
  displayName: 'Set image repository name'
- task: CmdLine@2
  displayName: "Publish to ECR"
  condition: and(succeeded(), in(variables['Build.SourceBranch'], 'refs/heads/main', 'refs/heads/develop', 'refs/heads/test'))
  inputs:
    script: |
      docker tag blog-v2 687611153768.dkr.ecr.eu-north-1.amazonaws.com/funkysi1701/$(imageRepoName)
      docker push 687611153768.dkr.ecr.eu-north-1.amazonaws.com/funkysi1701/$(imageRepoName)

- task: Kubernetes@1
  displayName: 'Kubernetes Login'
  inputs:
    connectionType: Kubernetes Service Connection
    kubernetesServiceEndpoint: kubernetes
    command: 'login'     
- script: |
    helm lint Helm/blog-v2 --namespace develop
    helm lint Helm/blog-v2 --namespace test
    helm lint Helm/blog-v2 --namespace main
- script: |
    helm upgrade --install blog-v2 ./Helm/blog-v2 --namespace develop --set image.tag=$(Build.BuildNumber)-develop
  condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'develop'))  
  displayName: 'helm upgrade blog-v2 Dev'
- script: |
    helm upgrade --install blog-v2 ./Helm/blog-v2 --namespace test --set image.tag=$(Build.BuildNumber)-test
  condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'test'))  
  displayName: 'helm upgrade blog-v2 Test'
- script: |
    helm upgrade --install blog-v2 ./Helm/blog-v2 --namespace main --set image.tag=$(Build.BuildNumber)-main
  condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'main'))  
  displayName: 'helm upgrade blog-v2 Main'